{% extends 'base.html.twig' %}
{% block title %}{{ 'tab.close'|trans }}{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'item.description'|trans }}</th>
                <th scope="col">{{ 'item.quantity'|trans }}</th>
                <th scope="col">{{ 'item.price_unit'|trans }}</th>
                <th scope="col">{{ 'item.subtotal'|trans }}</th>
            </tr>
        </thead>

        <tbody>
        {% for line in invoice.lines %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceEach|format_currency('EUR') }}</td>
                <td>{{ line.subTotal|format_currency('EUR') }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"><strong>{{ 'tab.total'|trans }}: {{ invoice.total|format_currency('EUR') }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <hr>

    {% if invoice.hasUnservedItems() %}
        <div class="alert alert-danger" role="alert">
            {{ 'tab.has_unserved_items'|trans }}
        </div>
    {% endif %}

    <form name="close_tab" method="post" _lpchecked="1">
        <div id="close_tab">
            <div class="form-group">
                <label for="close_tab_amountPaid" class="required">{{ 'tab.amount_paid'|trans }}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">€ </span>
                    </div>
                    <input type="text" id="close_tab_amountPaid" name="amountPaid" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="close_tab_save" name="save" class="btn-primary btn">{{ 'tab.close'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}