{% extends 'base.html.twig' %}
{% block title %}Close tab{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price each</th>
                <th scope="col">Sub total</th>
            </tr>
        </thead>

        <tbody>
        {% for line in invoice.lines %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceEach|format_currency('EUR') }}</td>
                <td>{{ line.subTotal|format_currency('EUR') }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"><strong>Total: {{ invoice.total|format_currency('EUR') }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <hr>

    {% if invoice.hasUnservedItems() %}
        <div class="alert alert-danger" role="alert">
            There're unserved items for this table. You won't be able to close it.
        </div>
    {% endif %}

    <form name="close_tab" method="post" _lpchecked="1">
        <div id="close_tab">
            <div class="form-group">
                <label for="close_tab_amountPaid" class="required">Amount paid</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">€ </span>
                    </div>
                    <input type="text" id="close_tab_amountPaid" name="amountPaid" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="close_tab_save" name="save" class="btn-primary btn">Close Tab</button>
            </div>
        </div>
    </form>
{% endblock %}