{% extends 'base.html.twig' %}
{% block title %}{{ 'order.order'|trans }}{% endblock %}
{% block content %}
    <form method="post" action="{{ path('tab_order', {'tableNumber': tableNumber}) }}">
        <fieldset>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'item.number'|trans }} #</th>
                        <th scope="col">{{ 'item.description'|trans }}</th>
                        <th scope="col">{{ 'item.quantity'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in menu %}
                <tr>
                    <td>{{ item.menuNumber }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <input type="number" name="quantity[{{ item.menuNumber }}]" value="0">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" name="place_order">{{ 'order.order'|trans }}</button>
        </fieldset>
    </form>
{% endblock %}
