{% extends 'base.html.twig' %}
{% block title %}{{ 'tab.status'|trans }}{% endblock %}
{% block content %}
    <h3>{{ 'tab.for_table'|trans({'%number%': tableNumber}) }}</h3>
    <a href="{{ path('tab_close_get', {tableNumber: tableNumber}) }}" class="btn btn-success">{{ 'tab.close'|trans }}</a>
    <a href="{{ path('tab_order', {tableNumber: tableNumber}) }}" class="btn btn-success">{{ 'order.order'|trans }}</a>

    {% if tab.hasItemsToServe %}
        <form action="{{ path('tab_mark_served', {'tableNumber': tableNumber}) }}" method="post">
        <h3>{{ 'item.to_serve'|trans }}</h3>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'item.number'|trans }}</th>
                <th scope="col">{{ 'item.description'|trans }}</th>
                <th scope="col">{{ 'item.mark_as_served'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in tab.getItemsToServe() %}
                <tr>
                    <td>{{ item.menuNumber}}</td>
                    <td>{{ item.description}}</td>
                    <td><input type="checkbox" value="{{ item.menuNumber}}" name="items[]"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="mark-served">{{ 'item.mark_as_served'|trans }}</button>
        </form>
    {% endif %}

    {% if tab.hasItemsInPreparation() %}
        <h3>{{ 'item.in_preparation'|trans }}</h3>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'item.number'|trans }}</th>
                    <th scope="col">{{ 'item.description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in tab.getItemsInPreparation() %}
                <tr>
                    <td>{{ item.menuNumber}}</td>
                    <td>{{ item.description}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if tab.hasItemsServed() %}
        <h3>{{ 'item.served'|trans }}</h3>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{{ 'item.number'|trans }}</th>
                    <th scope="col">{{ 'item.description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for item in tab.servedItems() %}
                <tr>
                    <td>{{ item.menuNumber}}</td>
                    <td>{{ item.description}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}



